<template>
  <div>
    <template :model="data">
      <el-scrollbar wrap-style="max-height: 700px; min-height: 350px;">
        <el-timeline>
          <el-timeline-item
            v-for="(courseDetail, index) in dataCourseDetail"
            :key="index"
            :timestamp="courseDetail.period"
            color="#04B431"
            placement="top"
          >
            <div class="row">
              <el-card class="col-xl-10">
                <p class="h3">Content</p>
                <p class="design-text" v-html="courseDetail.schedule"></p>
              </el-card>
            </div>
            <div class="row mt-1">
              <el-card class="col-xl-10">
                <p class="h3">Learning outcome</p>
                <p
                  class="design-text"
                  v-html="courseDetail.learningOutcome"
                ></p>
              </el-card>
            </div>
          </el-timeline-item>
        </el-timeline>
      </el-scrollbar>
    </template>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "course-detail",
  computed: {
    ...mapGetters(["getCourseDetail"]),
  },
  props: {
    dataCourseDetail: { type: Array },
  },
  data() {
    return { dialogVisible: false };
  },
  methods: {},
};
</script>
<style scoped lang=scss>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.design-text {
  font-size: 14px;
}
</style>