<template>
  <div>
    <template :model="data">
      <el-scrollbar
        v-if="images.length != 0"
        wrap-style="max-height: 700px; min-height: 350px;"
      >
        <el-image
          id="imageid"
          class="rounded mx-auto d-block mb-2"
          v-for="(url, index) in images"
          :key="index"
          :src="url"
          fit="contain"
          @click="zoomImage(url)"
        >
        </el-image>
      </el-scrollbar>
      <p v-else class="center-screen">No images</p>
      <br />
    </template>
    <el-dialog :visible.sync="showImage1" width="35%" top="1px">
      <el-image :src="imageDettail" class="rounded mx-auto d-block mb-2" />
    </el-dialog>
    <el-dialog :visible.sync="showImage2" width="55%" top="1px">
      <el-image :src="imageDettail" class="rounded mx-auto d-block mb-2" style="width: 100%; height: 100%"/>
    </el-dialog>
  </div>
</template>
<script>
export default {
  name: "extra-image",
  props: {
    images: { type: Array },
  },
  data() {
    return {
      showImage1: false,
      showImage2: false,
      imageDettail: "",
    };
  },
  methods: {
    zoomImage(url) {
      var img = document.getElementById("imageid");
      var width = img.width;
      var height = img.height;
      if (width > height) {
        this.showImage2 = true;
      } else {
        this.showImage1 = true;
      }
      this.imageDettail = url;
    },
  },
};
</script>
<style scoped lang=scss>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 35vh;
}
</style>