<template>
  <div class="col-lg-6">
    <label class="text-search mr-2" for="select-role">Course</label>
    <el-button
      icon="el-icon-search"
      circle
      size="mini"
      @click="showCourseDetail"
    ></el-button>
    <el-tooltip
      class="item"
      effect="dark"
      :content="courseName"
      placement="top-start"
      :open-delay="1000"
    >
      <base-input
        input-classes="form-control-alternative"
        v-model="courseName"
        readonly
      />
    </el-tooltip>
    <el-dialog :visible.sync="dialogVisible" width="45%" top="1px">
      <span slot="title" class="h2"
        ><i class="el-icon-notebook-2"></i>Course detail</span
      >
      <el-tabs type="border-card" v-model="activeName">
        <el-tab-pane label="Information" name="information">
          <el-scrollbar wrap-style="max-height: 700px; min-height: 350px;">
            <el-form
              ref="form"
              :model="data"
              label-width="120px"
              :inline="true"
              class="demo-form-inline"
            >
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="courseName"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        label="Course"
                        v-model="courseName"
                        input-classes="form-control-alternative"
                        readonly
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.subjectName"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Subject"
                        input-classes="form-control-alternative"
                        v-model="data.subjectName"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.studyFee + ''"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Fee (VND)"
                        input-classes="form-control-alternative"
                        v-model="data.studyFee"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.tutorName"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Tutor created"
                        input-classes="form-control-alternative"
                        v-model="data.tutorName"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.beginTime | formatTime"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Begin Time"
                        input-classes="form-control-alternative"
                        :value="data.beginTime | formatTime"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.endTime | formatTime"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="End Time"
                        input-classes="form-control-alternative"
                        :value="data.endTime | formatTime"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.beginDate | formatDate"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Begin day"
                        input-classes="form-control-alternative"
                        :value="data.beginDate | formatDate"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.endDate | formatDate"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="End day"
                        input-classes="form-control-alternative"
                        :value="data.endDate | formatDate"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.maxTutee + ''"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Number of tutee"
                        input-classes="form-control-alternative"
                        :value="data.maxTutee"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.createdDate | formatDateTime"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Date created"
                        input-classes="form-control-alternative"
                        :value="data.createdDate | formatDateTime"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.confirmedDate | formatDateTime"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Confirmed date"
                        input-classes="form-control-alternative"
                        :value="data.confirmedDate | formatDateTime"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.confirmerName"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Confirmed by"
                        input-classes="form-control-alternative"
                        :value="data.confirmerName"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.daysInWeek"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Weekdays"
                        input-classes="form-control-alternative"
                        v-model="data.daysInWeek"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                  <div class="col-lg-6">
                    <el-tooltip
                      class="item"
                      effect="dark"
                      :content="data.status"
                      placement="top-start"
                      :open-delay="1000"
                    >
                      <base-input
                        alternative=""
                        label="Status"
                        input-classes="form-control-alternative"
                        v-model="data.status"
                        :readonly="true"
                      />
                    </el-tooltip>
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="pl-lg-4">
                <div class="form-group">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top-start"
                    :open-delay="1000"
                  >
                    <div slot="content" v-html="data.precondition"></div>
                    <base-input alternative="" label="Precondition">
                      <div class="design-shadow">
                        <el-card>
                          <p class="design-text" v-html="data.precondition"></p>
                        </el-card>
                      </div>
                    </base-input>
                  </el-tooltip>
                </div>
              </div>
              <div class="pl-lg-4">
                <div class="form-group">
                  <base-input alternative="" label="Description">
                    <textarea
                      rows="4"
                      class="form-control form-control-alternative"
                      v-model="data.description"
                      :readonly="true"
                    ></textarea>
                  </base-input>
                </div>
              </div>
            </el-form>
          </el-scrollbar>
        </el-tab-pane>
        <el-tab-pane label="Course schedule" name="schedule">
          <course-detail :dataCourseDetail="dataCourseDetail"></course-detail>
        </el-tab-pane>
        <el-tab-pane label="Images" name="images">
          <extra-image :images="images"></extra-image>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>
<script>
import moment from "moment";
import { mapActions, mapGetters, mapMutations } from "vuex";
import ExtraImage from "../Course/ExtraImage";
import CourseDetail from "../Course/CourseDetail";
export default {
  components: { ExtraImage, CourseDetail },
  name: "course-report",
  props: {
    courseName: String,
  },
  data() {
    return {
      dialogVisible: false,
      confirmCourseDialogVisible: false,
      course: "",
      dataCourseDetail: [],
      images: [],
      activeName: "information",
    };
  },
  computed: {
    ...mapGetters(["getCourseDetail", "getCourse"]),
    data() {
      return this.getCourse;
    },
  },
  methods: {
    ...mapActions([
      "enableCourseStatus",
      "insertNotificationMessageAction",
      "getCourseDetailByCourseId",
      "getCourseById",
    ]),
    ...mapMutations(["setNotification"]),
    async showCourseDetail() {
      var courseId = this.courseName.substring(
        this.courseName.lastIndexOf("#") + 1
      );
      await this.getCourseById(parseInt(courseId));
      this.handleDialogView();
      this.dialogVisible = true;
    },
    async handleDialogView() {
      if (this.data.precondition != null) {
        if (this.data.precondition.indexOf("\n") >= 0) {
          this.data.precondition = "- " + this.data.precondition;
          this.data.precondition = this.data.precondition.replaceAll(
            "\n",
            "<br/>- "
          );
        }
      }
      this.dataCourseDetail = [];
      await this.getCourseDetailByCourseId(this.data.id);
      this.editData();
      this.images = this.data.extraImages
        .trim()
        .slice(1, this.data.extraImages.length - 1)
        .split(",");
      if (this.images[0].length == 0) {
        this.images = [];
      }
      this.course = this.data.name + " #" + this.data.id;
      this.activeName = "information";
      this.dialogVisible = true;
    },
    editData() {
      for (const data of this.getCourseDetail) {
        data.schedule = "- " + data.schedule;
        data.learningOutcome = "- " + data.learningOutcome;
        if (data.schedule.indexOf("\n") >= 0) {
          var tempSchedule = data.schedule.replaceAll("\n", "<br/>- ");
          data.schedule = tempSchedule;
        }
        if (data.learningOutcome.indexOf("\n") >= 0) {
          var tempLearningOutcome = data.learningOutcome.replaceAll(
            "\n",
            "<br/>- "
          );
          data.learningOutcome = tempLearningOutcome;
        }
        this.dataCourseDetail.push(data);
      }
    },
  },
  filters: {
    formatDate(value) {
      var formatter = moment(new Date(value)).format("YYYY/MM/DD");
      return formatter;
    },
    formatDateTime(value) {
      if (value != null) {
        var formatter = moment(new Date(value)).format(
          "YYYY/MM/DD [at] HH:mm:ss"
        );
        return formatter;
      } else {
        return "";
      }
    },
    formatTime(value) {
      var formatter = moment(new Date(value)).format("HH:mm");
      return formatter;
    },
  },
};
</script>
<style scoped lang=scss>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.labelColor {
  font-weight: bold;
  margin: 8px 8px;
}
.text-search {
  font-weight: bold;
  font-size: 14px;
  color: #525f7f;
}
.design-text {
  font-size: 14px;
  color: #8898aa;
}
.design-shadow {
  .el-card {
    box-shadow: 1px 1px 1px rgb(218, 218, 218);
    border-radius: 8px;
  }
}
.design-input {
  box-shadow: 1px 1px 1px rgb(218, 218, 218);
  border-radius: 8px;
}
</style>