<template>
  <div>
    <el-button type="primary" icon="el-icon-plus" @click="dialogVisible = true"
      >Create report type</el-button
    >
    <el-dialog :visible.sync="dialogVisible" width="35%" top="20px">
      <span slot="title" class="fontSize"
        ><i class="el-icon-s-order"></i>Create report type</span
      >
      <el-form
        label-width="120px"
        :inline="true"
        :rules="rules"
        class="demo-form-inline"
        label-position="left"
        :model="dataReportType"
        ref="dataReportType"
        v-loading="loading"
      >
        <el-form-item label="Name" prop="name">
          <el-input
            class="length-input"
            v-model="dataReportType.name"
            maxlength="100"
          ></el-input>
        </el-form-item>

        <el-form-item label="Description" class="mt-3">
          <el-input
            class="length-input"
            type="textarea"
            v-model="dataReportType.description"
            :autosize="{ minRows: 3, maxRows: 10 }"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="createReportType('dataReportType')"
          >Create</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "create-report-type-tutor",
  data() {
    var validateReportType = (rule, value, callback) => {
      if (value.trim() === "") {
        callback(new Error("Report type must be required"));
      } else {
        callback();
      }
    };
    return {
      dialogVisible: false,
      loading: false,
      dataReportType: {
        description: "",
        name: "",
        createdBy: "",
      },
      rules: {
        name: [{ validator: validateReportType, trigger: "blur" }],
      },
    };
  },
  methods: {
    ...mapActions(["createReportTypeTutor"]),
    createReportType(dataReportType) {
      this.$refs[dataReportType].validate((valid) => {
        if (valid) {
          this.$confirm("Do you want to create?", "Warning", {
            confirmButtonText: "OK",
            cancelButtonText: "Cancel",
            type: "warning",
          })
            .then(async () => {
              this.loading = true;
              this.dataReportType.createdBy = JSON.parse(
                localStorage.getItem("user")
              ).id;
              const response = await this.createReportTypeTutor(
                this.dataReportType
              );
              console.log("hihi");
              if (response.status == 204) {
                this.$message({
                  type: "success",
                  message: "Create completed",
                });
                this.dataReportType = {
                  description: "",
                  name: "",
                  createdBy: "",
                };
                this.loading = false;
                this.dialogVisible = false;
              }
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "Create canceled",
              });
            });
        } else {
          return false;
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.length-input {
  width: 350px;
}
</style>