<template>
  <div>
    <template :model="data">
      <el-button
        type="info"
        icon="el-icon-view"
        size="small"
        circle
        @click="handleButtonView"
      ></el-button>
      <el-button
        type="primary"
        icon="el-icon-check"
        size="small"
        circle
        :disabled="handleButtonAccept(data.status)"
        @click="openActive()"
      ></el-button>
      <el-button
        type="danger"
        icon="el-icon-delete"
        size="small"
        circle
        :disabled="handleButtonDenine(data.status)"
        @click="openDelete(data.id)"
      ></el-button>
    </template>
    <el-dialog :visible.sync="dialogVisible" width="40%" top="20px">
      <span slot="title" class="fontSize"
        ><i class="el-icon-s-order"></i>Report detail</span
      >
      <el-form ref="form" :model="data" :inline="true">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.tuteeName"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Tutee name"
                  v-model="data.tuteeName"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.tuteeEmail"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Tutee email"
                  v-model="data.tuteeEmail"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.createdDate | formatDateTime"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  alternative=""
                  label="Date created"
                  input-classes="form-control-alternative"
                  :value="data.createdDate | formatDateTime"
                  :readonly="true"
                />
              </el-tooltip>
            </div>
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.reportName"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Report type"
                  v-model="data.reportName"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.tutorEmail"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Tutor email"
                  v-model="data.tutorEmail"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
            <course-report :courseName="course"></course-report>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.confirmName"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Confirmed by"
                  v-model="data.confirmName"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
            <div class="col-lg-6">
              <el-tooltip
                class="item"
                effect="dark"
                :content="data.confirmedDate | formatDateTime"
                placement="top-start"
                :open-delay="1000"
              >
                <base-input
                  label="Confirmed date"
                  :value="data.confirmedDate | formatDateTime"
                  input-classes="form-control-alternative"
                  readonly
                />
              </el-tooltip>
            </div>
          </div>
        </div>
        <div class="row justify-content-end pr-4">
          <image-report :data="data"></image-report>
        </div>
        <div class="pl-lg-4">
          <div class="form-group">
            <el-tooltip
              class="item"
              effect="dark"
              :content="data.description"
              placement="top-start"
              :open-delay="1000"
            >
              <base-input alternative="" label="Description">
                <textarea
                  rows="4"
                  class="form-control form-control-alternative"
                  v-model="data.description"
                  :readonly="true"
                ></textarea>
              </base-input>
            </el-tooltip>
          </div>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          v-if="data.status == 'Pending'"
          type="primary"
          @click="openActive"
          >Accept</el-button
        >
        <el-button
          v-if="data.status == 'Pending'"
          type="danger"
          @click="openDelete"
          >Deny</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>
<script>
import moment from "moment";
import ImageReport from "./ImageReport.vue";
import { mapActions, mapGetters, mapMutations } from "vuex";
import CourseReport from "./CourseReport.vue";
export default {
  name: "dialog-report-tutee",
  components: {
    ImageReport,
    CourseReport,
  },
  computed: {
    ...mapGetters(["getNotification"]),
    notification: {
      get() {
        return this.getNotification;
      },
      set(val) {
        this.setNotification(val);
      },
    },
  },
  props: {
    data: Object,
  },
  data() {
    return {
      dialogVisible: false,
      course: "",
    };
  },
  methods: {
    ...mapActions([
      "acceptReportTutee",
      "insertNotificationMessageAction",
      "deniedReportTutee",
    ]),
    ...mapMutations(["setNotification"]),
    handleButtonAccept(check) {
      if (check == "Accepted" || check == "Denied") {
        return true;
      } else if (check == "Pending") {
        return false;
      }
    },
    handleButtonDenine(check) {
      if (check == "Pending") {
        return false;
      } else {
        return true;
      }
    },
    async sendMessage(message, title, userEmail) {
      this.notification = {
        title: title,
        message: message,
        sendToUser: userEmail,
        isRead: "false",
      };
      const res = await this.insertNotificationMessageAction();
      if (res.status !== 204) {
        this.$message({
          type: "error",
          message: "Insert notification fail",
        });
      }
    },
    openActive() {
      this.$confirm("Do you want to accept this report?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "warning",
      })
        .then(async () => {
          this.data.confirmedBy = JSON.parse(localStorage.getItem("user")).id;
          this.data.confirmedDate = moment(new Date()).format(
            "YYYY-MM-DDTHH:mm"
          );
          const response = await this.acceptReportTutee(this.data);
          if (response.status == 200) {
            this.sendMessage(
              "Your report has been confirmed",
              "Report confirmed",
              this.data.tuteeEmail
            );
            this.$message({
              type: "success",
              message: "Accept completed",
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Accept canceled",
          });
        });
    },
    openDelete() {
      this.$confirm("Do you want to deny this report?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "warning",
      })
        .then(async () => {
          this.data.confirmedBy = JSON.parse(localStorage.getItem("user")).id;
          this.data.confirmedDate = moment(new Date()).format(
            "YYYY-MM-DDTHH:mm"
          );
          const response = await this.deniedReportTutee(this.data);
          if (response.status == 200) {
            this.sendMessage(
              "Your report has been denied",
              "Report denied",
              this.data.tuteeEmail
            );
            this.$message({
              type: "success",
              message: "Deny completed",
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Deny canceled",
          });
        });
    },
    handleButtonView() {
      this.course = this.data.courseName + " #" + this.data.courseId;
      this.dialogVisible = true;
    },
  },
  filters: {
    formatDateTime(value) {
      if (value != null) {
        var formatter = moment(new Date(value)).format(
          "YYYY/MM/DD [at] HH:mm:ss"
        );
        return formatter;
      } else {
        return "";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
</style>