<template>
  <div>
    <template>
      <el-button class="ml-3" @click="getDataType">Report type</el-button>
    </template>
    <el-dialog :visible.sync="dialogVisible" width="70%" top="20px">
      <span slot="title" class="fontSize"
        ><i class="el-icon-s-order"></i>Report type</span
      >
      <el-scrollbar wrap-style="max-height: 1050px; min-height: 500px;">
        <el-row>
          <el-col :span="18">
            <el-table :data="listReportType" border stripe v-loading="loading">
              <el-table-column
                label="No."
                type="index"
                :index="indexMethod"
                align="center"
              ></el-table-column>
              <el-table-column label="Name" prop="name"> </el-table-column>
              <el-table-column
                label="Date created"
                prop="createdDate"
                :formatter="dateFormat"
                width="180%"
              >
              </el-table-column>
              <el-table-column
                label="Created by"
                prop="creatorName"
                width="220%"
              >
              </el-table-column>
              <el-table-column label="Status" width="100%" align="center">
                <template slot-scope="scope">
                  <div v-if="scope.row.status == 'Active'">
                    <el-tag type="success">{{ scope.row.status }}</el-tag>
                  </div>
                  <div v-else-if="scope.row.status == 'Inactive'">
                    <el-tag type="danger">{{ scope.row.status }}</el-tag>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="Description" width="100%">
                <template slot-scope="scope">
                  <el-popover
                    placement="top"
                    width="400"
                    trigger="hover"
                    :content="scope.row.description"
                  >
                    <el-button type="text" slot="reference">View</el-button>
                  </el-popover>
                </template>
              </el-table-column>
              <el-table-column label="Actions" width="80%" align="center">
                <template slot-scope="scope">
                  <el-button
                    v-if="scope.row.status == 'Inactive'"
                    type="primary"
                    icon="el-icon-check"
                    size="small"
                    circle
                    @click="openActive(scope.row)"
                  ></el-button>
                  <el-button
                    v-if="scope.row.status == 'Active'"
                    type="danger"
                    icon="el-icon-delete"
                    size="small"
                    circle
                    @click="openDelete(scope.row)"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table>
            <div style="text-align: right">
              <el-pagination
                background
                layout="prev, pager, next"
                :page-size="getPagingReportTypeTutee.pageSize"
                :total="getPagingReportTypeTutee.totalCount"
                @current-change="setPage"
                :current-page="getPagingReportTypeTutee.currentPage"
              >
              </el-pagination>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="row ml-4">
              <el-input
                class="length-input mb-2"
                placeholder="Type name"
                v-model="reportName"
                prefix-icon="el-icon-search"
              />
              <el-select
                v-model="valueDropDown"
                placeholder="Select status"
                @change="getByStatus(valueDropDown)"
                clearable
              >
                <el-option
                  v-for="data in status"
                  :key="data.name"
                  :label="data.name"
                  :value="data.name"
                ></el-option>
              </el-select>
              <el-button
                class="ml-2"
                icon="el-icon-search"
                type="primary"
                @click="filterReports"
              ></el-button>
            </div>
            <div class="row ml-4 mt-4">
              <create-report-type-tutee></create-report-type-tutee>
            </div>
          </el-col>
        </el-row>
      </el-scrollbar>
    </el-dialog>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import moment from "moment";
import CreateReportTypeTutee from "./CreateReportTypeTutee.vue";
export default {
  components: { CreateReportTypeTutee },
  name: "dialog-report-type-tutee",
  computed: {
    ...mapGetters(["getPagingReportTypeTutee", "getReportTypeTutee"]),
    listReportType() {
      return this.getReportTypeTutee;
    },
  },
  data() {
    return {
      dialogVisible: false,
      indexTable: 0,
      loading: false,
      valueDropDown: [],
      status: [{ name: "Active" }, { name: "Inactive" }],
      filter: {},
      reportName: undefined,
      statusReportType: undefined,
      pageSize: 5,
    };
  },
  methods: {
    ...mapActions([
      "getListReportTypeTutee",
      "deactiveReportTypeTutee",
      "activeReportTypeTutee",
    ]),
    async getDataType() {
      this.dialogVisible = true;
      this.loading = true;
      this.filter.pageSize = this.pageSize;
      await this.getListReportTypeTutee(this.filter);
      this.loading = false;
    },
    async setPage(val) {
      this.loading = true;
      this.filter.pageNumber = val;
      this.filter.pageSize = this.pageSize;
      await this.getListReportTypeTutee(this.filter);
      this.getPagingReportTypeTutee.currentPage = val;
      this.loading = false;
    },
    indexMethod(number) {
      if (this.getPagingReportTypeTutee.currentPage > 1) {
        this.indexTable = this.getPagingReportTypeTutee.currentPage * 5 - 5;
        return this.indexTable + number + 1;
      } else {
        return number + 1;
      }
    },
    dateFormat(row, column) {
      var date = row[column.property];
      if (date == undefined) {
        return "";
      }
      return moment(date).format("YYYY-MM-DD [at] HH:mm:ss");
    },
    getByStatus(value) {
      if (value == "") {
        this.statusReportType = undefined;
      } else {
        this.statusReportType = value;
      }
    },
    async filterReports() {
      this.loading = true;
      this.filter.pageNumber = undefined;
      if (this.reportName == "") {
        this.reportName = undefined;
      }
      this.filter = {
        pageNumber: 1,
        name: this.reportName,
        status: this.statusReportType,
        pageSize: this.pageSize,
      };
      const response = await this.getListReportTypeTutee(this.filter);
      if (response.status == 200) {
        this.getPagingReportTypeTutee.currentPage = 0;
      }
      this.loading = false;
    },
    openDelete(row) {
      this.$confirm("Do you want to deny this report type?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "warning",
      })
        .then(async () => {
          const index = this.listReportType.indexOf(row);
          this.listReportType[index].updatedBy = JSON.parse(
            localStorage.getItem("user")
          ).id;
          const response = await this.deactiveReportTypeTutee(
            this.listReportType[index]
          );
          if (response.status == 200) {
            this.$message({
              type: "success",
              message: "Deny completed",
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Deny canceled",
          });
        });
    },
    openActive(row) {
      this.$confirm("Do you want to active this report type?", "Warning", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel",
        type: "warning",
      })
        .then(async () => {
          const index = this.listReportType.indexOf(row);
          this.listReportType[index].updatedBy = JSON.parse(
            localStorage.getItem("user")
          ).id;
          const response = await this.activeReportTypeTutee(
            this.listReportType[index]
          );
          if (response.status == 200) {
            this.$message({
              type: "success",
              message: "Active completed",
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Active canceled",
          });
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.length-input {
  width: 217px;
}
</style>