<template>
  <div>
    <template :model="data">
      <el-badge class="item">
        <el-button size="medium" type="text" @click="handleDialog"
          >Image</el-button
        >
      </el-badge>
      <el-dialog :visible.sync="dialogVisible" width="30%" top="20px">
        <span slot="title" class="fontSize"
          ><i class="el-icon-picture"></i>Image</span
        >
        <el-scrollbar
          v-if="images.length != 0"
          wrap-style="max-height: 700px; min-height: 350px;"
        >
          <el-image
            id="imageid"
            class="rounded mx-auto d-block mb-2"
            v-for="(url, index) in images"
            :key="index"
            :src="url"
            fit="contain"
            @click="zoomImage(url)"
          ></el-image>
        </el-scrollbar>
        <p v-else class="center-screen">No images</p>
        <br />
      </el-dialog>
    </template>
    <el-dialog :visible.sync="showImage1" width="35%" top="1px">
      <el-image :src="imageDettail" class="rounded mx-auto d-block mb-2" />
    </el-dialog>
    <el-dialog :visible.sync="showImage2" width="55%" top="1px">
      <el-image
        :src="imageDettail"
        class="rounded mx-auto d-block mb-2"
        style="width: 100%; height: 100%"
      />
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "image-report",
  props: {
    data: {},
  },
  data() {
    return {
      dialogVisible: false,
      images: [],
      showImage1: false,
      showImage2: false,
      imageDettail: "",
    };
  },
  methods: {
    handleDialog() {
      this.dialogVisible = true;
      this.images = this.data.image
        .trim()
        .slice(1, this.data.image.length - 1)
        .split(",");
      if (this.images[0].length == 0) {
        this.images = "";
      }
    },
    zoomImage(url) {
      var img = document.getElementById("imageid");
      var width = img.width;
      var height = img.height;
      if (width > height) {
        this.showImage2 = true;
      } else {
        this.showImage1 = true;
      }
      this.imageDettail = url;
    },
  },
};
</script>
<style scoped lang=scss>
.fontSize {
  font-size: 20px;
  font-weight: bold;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 35vh;
}
</style>