<template>
  <div>
    <el-form :inline="true" class="demo-form-inline">
      <div class="boldText">
        <div class="row pl-4">
          <el-form-item label="Email" class="h1">
            <el-input
              class="length-input"
              placeholder="Type email"
              v-model="email"
              prefix-icon="el-icon-search"
            />
          </el-form-item>
          <el-form-item label="Status" class="h1">
            <el-select
              v-model="valueDropDown"
              placeholder="Select status"
              @change="getByStatus(valueDropDown)"
              clearable
            >
              <el-option
                v-for="data in status"
                :key="data.name"
                :label="data.name"
                :value="data.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="col d-flex justify-content-end">
            <dialog-report-type-tutee></dialog-report-type-tutee>
          </el-form-item>
        </div>
        <div class="row pl-4">
          <el-form-item label="Date" class="h1">
            <el-date-picker
              v-model="valueDateTime"
              type="daterange"
              range-separator="/"
              start-placeholder="Start date"
              end-placeholder="End date"
              :picker-options="pickerOption"
              @change="searchByDate(valueDateTime)"
              :editable="false"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="pl-3">
            <el-button
              icon="el-icon-search"
              type="primary"
              @click="filterReports"
              >Search</el-button
            >
          </el-form-item>
        </div>
      </div>
    </el-form>
    <div class="table-responsive mt-2">
      <el-table :data="listReport" border stripe v-loading="loading">
        <el-table-column
          label="No."
          type="index"
          :index="indexMethod"
          align="center"
        >
        </el-table-column>
        <el-table-column label="Email" prop="tuteeEmail"> </el-table-column>
        <el-table-column
          label="Date created"
          prop="createdDate"
          :formatter="dateFormat"
        >
        </el-table-column>
        <el-table-column label="Report type" prop="reportName">
        </el-table-column>
        <el-table-column label="Status" width="110%">
          <template slot-scope="scope">
            <div v-if="scope.row.status == 'Accepted'">
              <el-tag type="success">{{ scope.row.status }}</el-tag>
            </div>
            <div v-else-if="scope.row.status == 'Pending'">
              <el-tag type="warning" color="#ffffe6">{{
                scope.row.status
              }}</el-tag>
            </div>
            <div v-else>
              <el-tag type="danger">{{ scope.row.status }}</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Actions">
          <template slot-scope="scope">
            <dialog-report-tutee
              :data="listReport[indexData(scope.row)]"
            ></dialog-report-tutee>
          </template>
        </el-table-column>
      </el-table>
      <div style="text-align: right">
        <el-pagination
          background
          layout="prev, pager, next"
          :page-size="getPagingReportTutee.pageSize"
          :total="getPagingReportTutee.totalCount"
          @current-change="setPage"
          :current-page="getPagingReportTutee.currentPage"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import moment from "moment";
import DialogReportTutee from "./DialogReportTutee";
import DialogReportTypeTutee from "./DialogReportTypeTutee.vue";
export default {
  components: {
    DialogReportTypeTutee,
    DialogReportTutee,
  },
  name: "report-tutee-table",
  computed: {
    ...mapGetters(["getReportsTutee", "getPagingReportTutee"]),
    listReport() {
      return this.getReportsTutee;
    },
  },
  watch: {
    listReport() {
      this.loading = false;
    },
  },
  data() {
    return {
      valueDateTime: [],
      pickerOption: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        },
      },
      indexTable: 0,
      loading: true,
      filter: {},
      valueDropDown: [],
      status: [{ name: "Pending" }, { name: "Accepted" }, { name: "Denied" }],
      email: undefined,
      statusReport: undefined,
      fromDate: undefined,
      toDate: undefined,
    };
  },
  methods: {
    ...mapActions(["getListReportTutees"]),
    dateFormat(row, column) {
      var date = row[column.property];
      if (date == undefined) {
        return "";
      }
      return moment(date).format("YYYY-MM-DD [at] HH:mm:ss");
    },
    indexData(conditionFn) {
      return this.listReport.indexOf(conditionFn);
    },
    indexMethod(number) {
      if (this.getPagingReportTutee.currentPage > 1) {
        this.indexTable = this.getPagingReportTutee.currentPage * 10 - 10;
        return this.indexTable + number + 1;
      } else {
        return number + 1;
      }
    },
    getByStatus(value) {
      if (value == "") {
        this.statusReport = undefined;
      } else {
        this.statusReport = value;
      }
    },
    searchByDate(value) {
      if (value != null) {
        this.fromDate = moment(new Date(value[0])).format("YYYY-MM-DD");
        this.toDate = moment(new Date(value[1])).format("YYYY-MM-DD");
      } else {
        (this.fromDate = undefined), (this.toDate = undefined);
      }
    },
    async setPage(val) {
      this.loading = true;
      this.filter.pageNumber = val;
      await this.getListReportTutees(this.filter);
      this.getPagingReportTutee.currentPage = val;
      this.loading = false;
    },
    async filterReports() {
      this.loading = true;
      this.filter.pageNumber = undefined;
      if (this.email == "") {
        this.email = undefined;
      }
      this.filter = {
        email: this.email,
        pageNumber: 1,
        fromDate: this.fromDate,
        toDate: this.toDate,
        status: this.statusReport,
      };
      const response = await this.getListReportTutees(this.filter);
      if (response.status == 200) {
        this.getPagingReportTutee.currentPage = 0;
      }
      this.loading = false;
    },
  },
};
</script>
<style scoped lang=scss>
.boldText {
  .el-form-item {
    margin-bottom: 5px;
    margin-left: 1px;
  }
}
.length-input {
  width: 250px;
}
</style>