<template>
  <div>
    <base-header type="gradient-info" class="pb-5 pb-7 pt-4 pt-md-7" />
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <el-tabs type="border-card">
            <el-tab-pane label="Tutee">
              <report-tutee-table></report-tutee-table>
            </el-tab-pane>
            <el-tab-pane label="Tutor">
              <report-tutor-table></report-tutor-table>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import ReportTuteeTable from "./ReportTuteeTable.vue";
import ReportTutorTable from "./ReportTutorTable.vue";
export default {
  name: "tables",
  components: {
    ReportTuteeTable,
    ReportTutorTable,
  },
  methods: {
    ...mapActions(["getListReportTutees", "getListReportTutors"]),
    async init() {
      this.getListReportTutees("");
      this.getListReportTutors("");
    },
  },
  mounted() {
    this.init();
  },
};
</script>